:host {
	display: block;
	width: 100%;
	height: 100%;
}

.anime__table-container {
	height: 100%;
	overflow-y: auto;
	border-radius: var(--border-radius-md);
}

.anime__cell {
	text-align: center;
}

.anime__title {
	white-space: unset;
	width: 20%;
	word-wrap: break-word;
}

.anime__image-cell {
	display: flex;
	justify-content: center;
	padding-block: var(--spacing-sm);
}

.anime__image-container {
	--image-size: 150px;

	width: var(--image-size);
	height: var(--image-size);
}

.anime__image {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
