<section class="anime-detail-wrapper ">
	@if (animeDetail$ | async; as animeDetail) {
	<mat-card class="anime-detail mat-elevation-z10">
		<section class="anime-detail__summary">
			<section class="anime-detail__image-wrapper">
				<img mat-card-image class="anime-detail__image" [src]="animeDetail.image"
					[alt]="animeDetail.imageDescription"
					(click)="openImageDialog(animeDetail.image, animeDetail.imageDescription)"
					(keydown)="handleKeydown($event, animeDetail.image, animeDetail.imageDescription)" />
			</section>
			<section class="anime-detail__main-content">
				<mat-card-header>
					<section class="anime-detail__header">
						<mat-card-title class="anime-detail__title">
							<h1>{{ animeDetail.titleJpn }}</h1>
						</mat-card-title>
						<mat-card-subtitle>{{ animeDetail.titleEng | noEmpty }}</mat-card-subtitle>
					</section>
					<button type="button" mat-mini-fab (click)="handleGoBack()">
						<mat-icon>chevron_left</mat-icon>
					</button>
				</mat-card-header>
				@if(animeDetail.synopsis) {
				<mat-card-content>
					<p class="anime-detail__synopsis">
						{{ animeDetail.synopsis }}
					</p>
				</mat-card-content>
				}
			</section>
		</section>
		<section class="anime-detail__side-content">
			<mat-tab-group animationDuration="500ms">
				<mat-tab label="Detail">
					<section class="tab__content-wrapper">
						<camp-anime-information [animeDetail]="animeDetail" />
						<div campSkeleton></div>
					</section>
				</mat-tab>

				@if(animeDetail.trailerUrl) {
				<mat-tab label="Trailer">
					<section class="tab__content-wrapper">
						<iframe title="trailer" [src]="getAnimeTrailerUrl(animeDetail.trailerUrl)" allowfullscreen
							class="anime-details__trailer">
						</iframe>
					</section>
				</mat-tab>
				}
			</mat-tab-group>
		</section>
	</mat-card>
	}
	@else if(isLoading$ | async) {
	<mat-spinner />
	}
	@else {
	<camp-anime-not-found />
	}
</section>
