@import url("../global/index.css");

/* Desktop */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 24px;
}

.content-wrapper {
  display: flex;
  gap: 24px;
}

/* Book related */
.book-display {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
}

.book-group {
  display: flex;
  gap: 8px;
  flex-direction: column;
}

.book-group__heading {
  position: sticky;
  background: var(--surface-color);
  padding: 16px 0;
  top: 0;
}

.book-group__list {
  gap: 16px;
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  width: 180px;
  overflow: hidden;
}

.book-card__cover {
  max-width: 100%;
  aspect-ratio: 2/3;
  border-radius: 24px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.book-card__cover img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.book-card__content {
  width: 100%;
  margin-top: 8px;
  overflow: hidden;
}

.book-card__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

/* Filter */
.sidebar {
  width: 320px;
  position: relative;
}

.sidebar .filter__wrapper {
  position: absolute;
}

.sidebar .filter {
  position: fixed;
  width: 320px;
}

.filter__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 24px;
}

.filter__form .search-bar {
  display: flex;
  padding: 8px 16px;
  border-radius: 16px;
  max-width: 100%;
  gap: 8px;
  background-color: var(--surface-overlay-color);
  align-items: center;
}

.filter__form .search-bar svg {
  width: 18px;
  aspect-ratio: 1/1;
}

.filter__form .search-bar .search-bar__input input {
  background-color: transparent;
  outline: none;
  border: none;
}

.filter__select {
  padding: 8px 16px;
  border-radius: 16px;
  width: 100%;
  background-color: var(--surface-overlay-color);
}

.filter__select select {
  border: none;
  background-color: transparent;
  width: 100%;
}

.filter__checkbox {
  height: fit-content;
}

/* Tablet and mobile */
@media only screen and (max-width: 786px) {
  .content-wrapper {
    flex-direction: column;
  }

  .sidebar {
    order: 1;
    width: 100%;
    position: static;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--border-color);
  }

  .sidebar .filter__wrapper {
    position: static;
  }

  .sidebar .filter {
    position: static;
    width: 100%;
  }

  .sidebar .filter__form {
    flex-direction: row;
    align-items: center;
  }

  .book-display {
    order: 2;
  }
}

/* Mobile */
@media only screen and (max-width: 360px) {
  .book-group__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .book-card {
    width: 100%;
  }

  .sidebar .filter__form {
    flex-direction: column;
    align-items: start;
  }

  .filter__form .filter__select {
    flex: 1;
  }
}
