@import url("../global/index.css");

/* Desktop */
.container {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: var(--spacing-lg);
}

.content-wrapper {
  display: flex;
  gap: var(--spacing-lg);
}

/* Book related */
.book-display {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxl);
  flex: 1;
}

.book-group {
  display: flex;
  gap: var(--spacing-sm);
  flex-direction: column;
}

.book-group__heading {
  position: sticky;
  background: var(--surface-color);
  padding: var(--spacing-md) 0;
  top: 0;
}

.book-group__list {
  gap: var(--spacing-md);
  display: flex;
  flex-wrap: wrap;
}

.book-card {
  width: 180px;
  overflow: hidden;
}

.book-card__cover {
  max-width: 100%;
  aspect-ratio: 2/3;
  border-radius: 24px;
  border: 1px solid var(--border-color);
  overflow: hidden;
}

.book-card__cover img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.book-card__content {
  width: 100%;
  margin-top: var(--spacing-sm);
  overflow: hidden;
}

.book-card__name {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  white-space: wrap;
  text-overflow: ellipsis;
}

/* Filter */
.sidebar {
  width: 320px;
  position: relative;
}

.sidebar .filter__wrapper {
  position: absolute;
}

.sidebar .filter {
  position: fixed;
  width: 320px;
}

.filter__form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-lg);
  margin-top: var(--spacing-lg);
}

.filter__form .search-bar {
  display: flex;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 16px;
  max-width: 100%;
  gap: var(--spacing-sm);
  background-color: var(--surface-overlay-color);
  align-items: center;
}

.filter__form .search-bar svg {
  width: 18px;
  aspect-ratio: 1/1;
}

.filter__form .search-bar .search-bar__input input {
  background-color: transparent;
  outline: none;
  flex: 1;
  border: none;
}

.filter__select {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: 16px;
  max-width: 100%;
  background-color: var(--surface-overlay-color);
}

.filter__select select {
  border: none;
  background-color: transparent;
  width: 100%;
}

.filter__checkbox {
  height: fit-content;
}

@media only screen and (max-width: 990px) {
  .book-group__list {
    display: grid;
    gap: var(--spacing-md);
    grid-template-columns: repeat(4, 1fr);
  }

  .content-wrapper {
    flex-direction: column;
  }

  .sidebar {
    order: 1;
    width: 100%;
    position: static;
    padding-bottom: var(--spacing-lg);
    border-bottom: 1px solid var(--border-color);
  }

  .sidebar .filter__wrapper {
    position: static;
  }

  .sidebar .filter {
    position: static;
    width: 100%;
  }

  .book-display {
    order: 2;
  }
}
@media only screen and (max-width: 990px) and (min-width: 768px) {
  .sidebar .filter__form {
    flex-direction: row;
    align-items: center;
  }
}

/* Smaller than tablet but larger than mobile */
@media only screen and (max-width: 767px) {
  .book-group__list {
    grid-template-columns: repeat(3, 1fr);
  }

  .book-card {
    width: 100%;
  }

  .sidebar .filter__form {
    flex-direction: column;
    align-items: start;
  }

  .filter__form .filter__select,
  .filter__form .search-bar {
    width: 100%;
  }
}

/* Mobile */
@media only screen and (max-width: 490px) {
  .book-group__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
