@if (currentUser$ | async; as user) {
	<section class="greeting-container">
		<p class="greeting__message"> Hi,
			@if (user.firstName.length + user.lastName.length > 0) {
				<span class="greeting__user-profile">
					{{ user.firstName }} {{ user.lastName }}
				</span>
			} @else {
				Have a nice day.
			}
		</p>
		<button mat-raised-button class="button" type="button" (click)="logOut()">Logout</button>
	</section>
} @else {
	<section class="button-wrapper">
		<a mat-raised-button class="button" [routerLink]="['/auth/login']">Login</a>
		<div class="divider">
			<span>or</span>
		</div>
		<a mat-raised-button class="button" [routerLink]="['/auth/register']">Register</a>
	</section>
}

