:host {
	display: block;
	width: 100%;
	max-height: 100%;
}

.anime__table-container {
	height: 100%;
	overflow-y: auto;
}

.anime__title {
	word-wrap: break-word;
	white-space: unset;
	width: 20%;
	overflow-wrap: break-word;
	color: var(--primary-color);
	font-weight: var(--font-weight-medium);
}

.anime__image-cell {
	display: flex;
	justify-content: center;
	padding-block: var(--spacing-sm);
}

.anime__image-container {
	--image-size: 150px;

	width: var(--image-size);
	height: var(--image-size);
}

.anime__image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.anime__detail {
	color: #464f60;
	padding: 1px var(--spacing-sm);
	font-weight: var(--font-weight-medium);
	border-radius: var(--border-radius-xsm);
	background-color: #e9edf5;
}
