<section class="anime__table-container anime-table">
	@if (dataSource.data.length > 0) {
		<table mat-table [dataSource]="dataSource" matSort [matSortDisabled]="loading"
			[matSortDirection]="sortEvent.direction" [matSortActive]="sortEvent.active"
			(matSortChange)="onSortChange($event)" [trackBy]="trackAnime">
			<ng-container matColumnDef="image">
				<th mat-header-cell *matHeaderCellDef>Image</th>
				<td mat-cell *matCellDef="let anime" class="anime__image-cell">
					<div class="anime__image-container">
						<camp-table-cell-content [isLoading]="loading">
							<img class="anime__image" [src]="anime.image" alt="anime.titleJpn ?? 'Anime image'" />
						</camp-table-cell-content>
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="titleEng">
				<th mat-header-cell *matHeaderCellDef mat-sort-header="">English Title</th>
				<td mat-cell *matCellDef="let anime" class="anime__title">
					<camp-table-cell-content [isLoading]="loading">
						{{ anime.titleEng | noEmpty }}
					</camp-table-cell-content>
				</td>
			</ng-container>

			<ng-container matColumnDef="titleJpn">
				<th mat-header-cell *matHeaderCellDef>Japanese Title</th>
				<td mat-cell *matCellDef="let anime" class="anime__title">
					<camp-table-cell-content [isLoading]="loading">
						{{ anime.titleJpn | noEmpty }}
					</camp-table-cell-content>
				</td>
			</ng-container>

			<ng-container matColumnDef="startDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
				<td mat-cell *matCellDef="let anime">
					<camp-table-cell-content [isLoading]="loading">
						<span class="anime__detail">
							{{ anime.aired.startDate | date : "M-d-yyyy" | noEmpty }}
						</span>
					</camp-table-cell-content>
				</td>
			</ng-container>

			<ng-container matColumnDef="type">
				<th mat-header-cell *matHeaderCellDef>Type</th>
				<td mat-cell *matCellDef="let anime">
					<camp-table-cell-content [isLoading]="loading">
						<span class="anime__detail">
							{{ anime.type | noEmpty }}
						</span>
					</camp-table-cell-content>
				</td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
				<td mat-cell *matCellDef="let anime">
					<camp-table-cell-content [isLoading]="loading">
						<span class="anime__detail">
							{{ anime.status | noEmpty }}
						</span>
					</camp-table-cell-content>
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	}
	@else {
		<table mat-table [dataSource]="templateArray" matSort [matSortDirection]="sortEvent.direction"
			[matSortActive]="sortEvent.active" (matSortChange)="onSortChange($event)">
			<ng-container matColumnDef="image">
				<th mat-header-cell *matHeaderCellDef>Image</th>
				<td mat-cell *matCellDef="let anime" class="anime__image-cell">
					<div class="anime__image-container">
						<camp-table-cell-content [isLoading]="true" />
					</div>
				</td>
			</ng-container>

			<ng-container matColumnDef="titleEng">
				<th mat-header-cell *matHeaderCellDef mat-sort-header="">English Title</th>
				<td mat-cell *matCellDef="let anime" class="anime__title">
					<camp-table-cell-content [isLoading]="true" />
				</td>
			</ng-container>

			<ng-container matColumnDef="titleJpn">
				<th mat-header-cell *matHeaderCellDef>Japanese Title</th>
				<td mat-cell *matCellDef="let anime" class="anime__title">
					<camp-table-cell-content [isLoading]="true" />
				</td>
			</ng-container>

			<ng-container matColumnDef="startDate">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Start Date</th>
				<td mat-cell *matCellDef="let anime">
					<camp-table-cell-content [isLoading]="true" />
				</td>
			</ng-container>

			<ng-container matColumnDef="type">
				<th mat-header-cell *matHeaderCellDef>Type</th>
				<td mat-cell *matCellDef="let anime">
					<camp-table-cell-content [isLoading]="true" />
				</td>
			</ng-container>

			<ng-container matColumnDef="status">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
				<td mat-cell *matCellDef="let anime">
					<camp-table-cell-content [isLoading]="true" />
				</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>
	}
</section>
