/* Button */
.anime-form .mdc-button {
	height: fit-content;
	padding: var(--spacing-md);
	border-radius: var(--border-radius-md);
	background-color: var(--primary-color);
}

.anime-form .mdc-button .mdc-button__label {
	color: white;
}
