<div class="header-container">
	<h1 class="header-title">Welcome back</h1>
	<p class="header-subtitle">Sign in to access to you dashboard.</p>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
	<section class="form-control">
		<label class="form__label">Email</label>
		<mat-form-field subscriptSizing="dynamic" appearance="outline" class="form__input-field">
			<mat-icon matIconPrefix>email</mat-icon>
			<input matInput type="email" placeholder="Enter your email" [formControl]="loginForm.controls.email">
			<mat-error>
				<span>{{formErrorService.getErrors(loginForm.controls.email)}}</span>
			</mat-error>
		</mat-form-field>
	</section>

	<section class="form-control">
		<label class="form__label">Password</label>
		<mat-form-field subscriptSizing="dynamic" appearance="outline" class="form__input-field">
			<mat-icon matIconPrefix>lock</mat-icon>
			<input matInput [type]="hidePassword() ? 'password' : 'text'" placeholder="Enter your password"
				[formControl]="loginForm.controls.password">
			<button mat-icon-button matSuffix type="button" (click)="clickHidePassword($event)">
				<mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
			</button>
			<mat-error>
				<span>{{formErrorService.getErrors(loginForm.controls.password)}}</span>
			</mat-error>
		</mat-form-field>
	</section>

	<section class="form__actions">
		<button class="form__button" mat-stroked-button type="submit">
			<span class="button__label">
				Sign in
				<mat-icon>arrow_right_alt</mat-icon>
			</span>
		</button>

		<div class="form__navigate">
			No account? <a class="navigate__link" [routerLink]="['../', 'register']">Create an account</a>
		</div>
	</section>
</form>
