/* Header */
header {
  height: 64px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

footer {
  /* Footer */
  border-top: 1px;
  height: 128px;
  border-color: rgba(0 0 0 / 15%);
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
}

footer .content-left {
  display: flex;
  gap: 32px;
}

footer .content-left__link {
  color: var(--on-surface-color);
}

/* Container */
.container {
  max-width: 1360px;
  margin: 0 auto;
}

@media only screen and (max-width: 1280px) and (min-width: 736px) {
  .container {
    max-width: 656px;
  }
}

@media screen and (max-width: 736px) and (min-width: 360px) {
  .container {
    max-width: 352px;
  }
}

@media screen and (max-width: 360px) {
  .container {
    max-width: 272px;
  }
}
