/* Header */
.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

/* Footer */
.footer {
  border-top: 1px solid var(--border-color);
  height: var(--footer-height);
  padding: var(--spacing-lg) 0;
  display: flex;
  justify-content: space-between;
}

.footer__information {
  display: flex;
  gap: var(--spacing-xl);
}

.footer__link {
  color: var(--on-surface-color);
}

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: var(--spacing-xxl);
    justify-content: start;
    height: fit-content;
    align-items: end;
  }

  .footer__information {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}

/* Select */
.select-control {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  max-width: 100%;
  background-color: var(--surface-overlay-color);
}

.select {
  /* for Firefox */
  -moz-appearance: none;

  /* for Chrome */
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.select::placeholder {
  color: red;
}

/* Checkbox input */
input[type="checkbox"] {
  accent-color: var(--primary-color);
}

/* Container */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-xxl);
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 var(--spacing-lg);
  }
}
