/* -- Header -- */
.header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

/* -- Footer -- */
.footer {
  border-top: 1px solid var(--border-color);
  height: var(--footer-height);
  padding: var(--spacing-lg) 0;
  display: flex;
  justify-content: space-between;
}

.footer__information {
  display: flex;
  gap: var(--spacing-xl);
}

.footer__link {
  color: var(--on-surface-color);
}

@media only screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    gap: var(--spacing-xxl);
    justify-content: start;
    height: fit-content;
    align-items: end;
  }

  .footer__information {
    gap: 0;
    width: 100%;
    justify-content: space-between;
  }
}

/* -- Select -- */
.select-wrapper {
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  max-width: 100%;
  background-color: var(--surface-overlay-color);
}

.select-control {
  position: relative;
}

.select {
  appearance: none;
  border: none;
  background-color: transparent;
  width: 100%;
}

.select:invalid {
  color: var(--on-surface-dim-color);
}

.select__img {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* -- Checkbox input -- */
.checkbox-control {
  display: block;
  position: relative;
  padding-left: 36px;
  cursor: pointer;
  font-size: var(--font-size-xl);
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-control input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  --check-mark-size: 20px;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: var(--check-mark-size);
  aspect-ratio: 1/1;
  padding: 3px;
  border-radius: 4px;
  border: 2px solid var(--border-color);
}

.checkbox-control .checkmark::after {
  content: "";
  display: none;
  width: 100%;
  border-radius: 2px;
  background: var(--primary-color);
  aspect-ratio: 1;
}

/* Show the box border when checked */
.checkbox-control input:checked ~ .checkmark {
  border-color: var(--primary-color);
}

/* Show the inside box when checked */
.checkbox-control input:checked ~ .checkmark::after {
  display: block;
}

/* -- Search bar -- */
.search-bar {
  display: flex;
  padding: var(--spacing-sm) var(--spacing-md);
  border-radius: var(--border-radius-md);
  max-width: 100%;
  gap: var(--spacing-sm);
  background-color: var(--surface-overlay-color);
  align-items: center;
}

.search-bar__input input {
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
}

/* -- Container -- */
.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
  padding: 0 var(--spacing-xxl);
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0 var(--spacing-lg);
  }
}
