<mat-form-field subscriptSizing="dynamic" appearance="outline" class="form-field">
	<mat-icon matIconPrefix>lock</mat-icon>
	<input matInput [type]="hidePassword() ? 'password' : 'text'" [placeholder]="placeholder" [formControl]="control">
	<button mat-icon-button matSuffix type="button" (click)="clickHidePassword($event)">
		<mat-icon>{{hidePassword() ? 'visibility_off' : 'visibility'}}</mat-icon>
	</button>
	<mat-error>
		<span>{{formErrorService.getErrors(control)}}</span>
	</mat-error>
</mat-form-field>
