<div class="filter-form">
	<mat-form-field class="form-field" appearance="outline" subscriptSizing="dynamic">
		<mat-label>Anime type</mat-label>
		<mat-select [disabled]="loading" [(value)]="selectedType" (selectionChange)="onSelectionChange($event)">
			<mat-option [value]="">
				All
			</mat-option>
			<mat-option *ngFor="let type of animeTypes" [value]="type">
				{{ type }}
			</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field class="form-field" appearance="outline" subscriptSizing="dynamic">
		<mat-label>Search</mat-label>
		<input [disabled]="loading" matInput [(ngModel)]="search" placeholder="An anime name..." />
		<button [disabled]="loading" mat-icon-button matSuffix type="button" (click)="onSearch()">
			<mat-icon>edit</mat-icon>
		</button>
	</mat-form-field>
</div>
