.mat-mdc-header-cell,
.mat-mdc-cell {
	border-bottom-color: #e9edf5;
	text-align: center;
}

.mat-mdc-header-row {
	background-color: #f7f9fc;
	font-weight: var(--font-weight-semibold);
	color: #687182;
}
